/* Font */

@font-face {
  font-family: 'Titillium-Regular';
  src: url('fonts/TitilliumWeb/Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/TitilliumWeb/Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/TitilliumWeb/Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/TitilliumWeb/Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/TitilliumWeb/Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/TitilliumWeb/Regular.svg#TitilliumWeb-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Titillium-Bold';
  src: url('fonts/TitilliumWeb/Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/TitilliumWeb/Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/TitilliumWeb/Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/TitilliumWeb/Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/TitilliumWeb/Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/TitilliumWeb/Bold.svg#TitilliumWeb-Bold') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Titillium-Regular', sans-serif;
  font-size: 13pt;
}
h1 {
  font-family: 'Titillium-Bold', sans-serif;
  font-size: 2em;
}
h2 {
  font-size: 2.5em;
}
#nav-menu {
  font-family: Titillium-Bold;
}

/* Main layout */
* { box-sizing: border-box; }
body {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
}
h2 {
    margin: 0 1em 0.5em;
}
#sidebar, #main {
    display: table-cell;
}
#sidebar {
    width: 20%;
}
#content {
    clear: left;
}
#content p {
    float: left;
    clear: left;
    margin: 0 1em 2em;
    max-width: 35.5em;
}
#nav-menu {
    margin: 0;
    padding: 0;
}
#nav-menu > li {
    padding: 5px 25px;
    margin: 25px 0;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
}
#avatar {
  display: block;
  float: left;
  height: 100px;
  margin: 1px 15px;
  border: 3px solid transparent;
}

/* Dressing */
body {
    background-color: #333;
    color: #DDD;
}
h2 {
    color: #EEE;
}
#nav-menu > li {
    list-style: none;
    background-color: #444;
    border-color: #3B3B3B;
    border-left-color: transparent;
    border-left-width: 0;
    letter-spacing: 2px;
    border-top-right-radius: 999px;
}
#avatar {
    border-color: #999;
}