/* Font */

@font-face {
  font-family: 'Titillium-Regular';
  src: url('fonts/TitilliumWeb/Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/TitilliumWeb/Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/TitilliumWeb/Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/TitilliumWeb/Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/TitilliumWeb/Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/TitilliumWeb/Regular.svg#TitilliumWeb-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Titillium-Bold';
  src: url('fonts/TitilliumWeb/Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/TitilliumWeb/Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/TitilliumWeb/Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/TitilliumWeb/Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/TitilliumWeb/Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/TitilliumWeb/Bold.svg#TitilliumWeb-Bold') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Titillium-Regular', sans-serif;
}

h1 {
  font-family: 'Titillium-Bold', sans-serif;
}

/* Main layout */

#left {
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;

  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}

#right {
  position: absolute;
  top: 0;
  left: 75%;
  width: 25%;
  padding: 25px;
  padding-top: 10em;
}

#avatar {
  height: 5em;
  display: block;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

#nav-menu {
  list-style: none;
  font-family: Titillium-Bold;
}

#nav-menu > li {
  position: relative;
  background: #004400;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 5px;
  color: #EDEDED;
}

#nav-menu > li:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 2px;
  border-right: 20px solid #004400;
  border-left: 0px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
