body {
	background: royalblue;
}
table#symbol-grid td {
	width: 50px;
	height: 50px;
}
button.pixel {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
}
button.pixel:not(.active) {
	background-color: black;
}
button.pixel.active {
	background-color: white;
}

button#send {
	width: 50px;
	height: 50px;
}